%h1
  Upcoming concerts
%p
  %table
    %tr
      %th Artist
      %th Date & Time
      %th Venue
      %th Price
    - @concerts.each do |concert|
      %tr
        %td
          = concert.artist.titleize
        %td
          = local_formatted_time(concert.datetime)
        %td
          = concert.venue.titleize
        %td
          = number_to_currency(concert.price)
